.service {
    box-shadow: 1px 2px 20px solid lightgrey !important;
    transition: 100s ease-in;
    padding: 10px;
border-radius: 5px;
animation-name: bounceIn;
animation-duration:2s;
  transition:100ms ease-in;
}


@keyframes bounceIn {
    0% {
      transform: scale(0.1);
      opacity: 0;
    }
    60% {
      transform: scale(1.2);
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
  }
.service:hover {
    transform: scale(1.1);

text-decoration: none;

}
.service:hover h1{
    color: #111;
}