.header {
    position: relative;
    height:600px;
    overflow: hidden;

    
}
.header::after {
    content: '';
    background-color: #FBD062;
    display: block;
    width: 110%;
    
    height: 600px;
    left: -25px;
    position: absolute;
    top: -100px;
    transform: rotate(-4deg);
    z-index: -50;
}