

.form {
   background-color: #fff;
   width: 70vw;
}

textarea{
    border: 1px solid lightgrey !important;
    width: 90% !important;
    height: 150px !important;
}

.service__image {
    width:150px;
    background-color: #DEFFED;
}
small{
    font-weight: 500;
}
.add__service {
    width: 100px;
}

.custom_button {
    background-color: #009444;
    color: #fff;
    width: 120px;
}
input {
    border: 1px solid lightgrey;
    border-radius: 3px;
    padding: 2px 5px;
    width: 90%;
    height: 40px;
}

.file {
    border: none !important;
}